<style>
    .card {
        transform: 2s trasform ease-out;
        transition: 0.2s;
    }
    
    .card:hover {
        transform: scale(1.03);
        background-color: #4D5358 !important;
    }
</style>


<div class="container-fluid mt-5 my-sm-5 py-sm-5">
    <div class="row no-gutters justify-content-center">


        <div class="col-md-6 col-12 mt-5 mt-md-0 text-center">
            <a href="#!/rs/campioni/tradizionale">
                <div class="card ">
                    <div class="card-header " style="border-radius: 0.75rem !important; background-color: #313135 !important;">
                        <h4 class="card-title " style="color: white;">CAMPIONI DOMESTICO</h4>
                        <p class="category" style="color: white; font-style: italic;">Gestione campioni Domestico
                        </p>
                        <p class="category font-weight-bold" style="color: white; font-style: italic; padding-bottom: 0 !important; font-size: 23px;">
                            {{tottradizionale}}
                        </p>
                    </div>
                </div>
            </a>
        </div>


        <div class="col-md-6 col-12 mt-5 mt-md-0 text-center">
            <a href="#!/rs/campioni/vending">
                <div class="card">
                    <div class="card-header" style="border-radius: 0.75rem !important; background-color: #023E7D !important; ">
                        <h4 class="card-title" style="color: white;">CAMPIONI VENDING</h4>
                        <p class=" category " style="color: white; font-style: italic; ">Gestione campioni vending </p>
                        <p class=" category  font-weight-bold" style="color: white; font-style: italic; padding-bottom: 0 !important; font-size: 23px; ">
                            {{totvending}}
                        </p>
                    </div>
                </div>
            </a>
        </div>



    </div>

    <div class="row no-gutters mt-5 justify-content-center">

        <div class="col-md-6 col-12 mb-5 text-center">
            <a href="#!/rs/new_campioni">
                <div class="card">
                    <div class="card-header" style="border-radius: 0.75rem !important; background-color: #008000 !important; padding-top: 72px; padding-bottom: 72px;">
                        <h4 class="card-title text-uppercase" style="color: white;">Crea Nuovo Campione</h4>
                    </div>
                </div>
            </a>
        </div>


        <div class="col-md-6 col-12 mt-5 mt-md-0 text-center">
            <a href="#!/rs/campioniall/campioni_tot/">
                <div class="card">
                    <div class="card-header" style="border-radius: 0.75rem !important; background-color: #7d5c02 !important; ">
                        <h4 class="card-title" style="color: white;">CAMPIONI TOTALI</h4>
                        <p class=" category " style="color: white; font-style: italic; ">Gestione campioni Totali </p>
                        <p class=" category  font-weight-bold" style="color: white; font-style: italic; padding-bottom: 0 !important; font-size: 23px; ">
                            {{campioni_tot}}
                        </p>
                    </div>
                </div>
            </a>
        </div>


    </div>



</div>





<!-- 
<div class="container-fluid" style="margin-top: 160px;">
    <div class="row no-gutters justify-content-center mt-5">

        <div class="col-md-5 col-12 offset-md-1 offset-0">

            <a class="text-decoration-none" href="#!/rs/campioni_tradizionali">
                <div class="card form text-center">

                    <div class="card-body">

                        <h2 style="margin-top: 60px;">CAMPIONI TRADIZIONALI</h2>
                        <p class="text-capitalize" style="font-style:italic">Gestione campioni tradizionale </p>

                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-5 col-12 mt-4 mt-md-0 " <a class="text-decoration-none" href="#!/rs/campioni_vending">
            <div class="card form text-center" style="background-color: #023E7D ;">
                <div class="card-body text-center">

                    <h2 style="margin-top: 55px;">CAMPIONI VENDING</h2>
                    <p class="text-capitalize" style="font-style:italic">Gestione campioni vending </p>

                </div>
            </div>
            </a>

        </div> -->