<table align="center" border="0" cellpadding="0" cellspacing="0" width="600">
    <tr>
        <td align="center" bgcolor="" style="padding: 15px 0 15px 0;border-bottom: 1pt solid #DDDDDF">
            <img wit src="https://pwnept.stripocdn.email/content/guids/CABINET_41e2c5d2e85df5324fe34cfafb9aeb4b/images/micromic_piu_piccola.png" alt="Creating Email Magic" width="200" style="display: block;" />
        </td>
    </tr>
    <tr>
        <td>
            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="padding: 20px 0 0px 0;">
                <tr>
                    {% if img != 'http://micromic-ricambi.com/Content/attachments/'%}
                    <td align="center">
                        <img src="{{fname}}" alt="Creating Email Magic" width="auto" height="150px" style="display: block;" />
                    </td>
                    {% endif %}


                    <td align="center">
                        <h1>Articolo <span style="color: red;">{{codice}}</span></h1>
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">

                            <tr style="text-align: center">
                                <td>
                                    <h2>Descrizione :</h2>
                                </td>
                            </tr>
                            <tr style="text-align: center;">
                                <td style="font-size: 17px;">{{descrizione}}</td>
                            </tr>
                            {% if marca != ''%}
                            <tr>
                                <td style="text-align: center">
                                    <h2>Marca :</h2>
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: center; font-size: 17px;">{{marca}}</td>
                            </tr>
                            {% endif %} {% if codori != ''%}
                            <tr>
                                <td style="text-align: center">
                                    <h2>Codice Originale :</h2>
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: center; font-size: 17px;">{{codori}}</td>
                            </tr>
                            {% endif %}
                        </table>
                    </td>
                </tr>

            </table>
    </tr>
    <tr>
        <td style="padding: 20px 20px 20px 20px;border-bottom: 1pt solid #DDDDDF; font-size: 14px;">
            Salve. <br><br>Vi informiamo che l'Articolo &egrave; stato esaurito e non verr&aacute; pi&ugrave; gestito. <br> {{note}} <br> Saluti.
        </td>
    </tr>
    <tr>
        <td align="center" style="padding: 20px 0 20px 0">
            <img src="https://i.ibb.co/bdd9jDZ/logo-solo-scritta-srl.png" alt="Creating Email Magic" width="200" height="20" style="display: block;" />
        </td>
    </tr>
</table>